.pagination {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.pagination .page-item {
    margin: 0 0.5rem;
}

.pagination .page-link {
    color: #007bff; /* Màu chữ */
    border: 1px solid #007bff; /* Đường viền */
    border-radius: 0.25rem; /* Bo góc */
    padding: 0.5rem 0.75rem;
    text-decoration: none;
}

.pagination .page-link:hover {
    background-color: #007bff; /* Màu nền khi hover */
    color: white; /* Màu chữ khi hover */
}

.pagination .active .page-link {
    background-color: #007bff; /* Màu nền cho trang hiện tại */
    color: white; /* Màu chữ cho trang hiện tại */
    border: 1px solid #007bff; /* Đường viền cho trang hiện tại */
}

.pagination .disabled .page-link {
    color: #6c757d; /* Màu cho trang bị vô hiệu hóa */
    border: 1px solid #6c757d; /* Đường viền cho trang bị vô hiệu hóa */
    cursor: not-allowed; /* Con trỏ cho trang bị vô hiệu hóa */
}
