.box-size {
  display: flex;
  align-items: center;

  .product-size {
    padding: 6px 35px;
    border: 1px solid #00000017;
    color: #333;
    font-size: 16px;
    margin-left: 8px;
    cursor: pointer;

    &:hover {
      color: #71cd14;
      border-color: #71cd14;
    }
    &.active {
      color: #71cd14 !important;
      border-color: #71cd14 !important;
    }
  }
}
.box {
  width: 100%;
  padding: 2em;
  text-align: center;
}

.quantity {
  position: relative;
  display: inline-block;
  color: #7f7f7f;

  input[type="number"] {
    transition: border 0.3s ease-in-out, color 0.3s ease-in-out;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    box-shadow: none;
    outline: none;
    width: 42px;
    height: 34px;
    text-align: center;
    float: right;
    border: 1px solid #dcdcdc;
    background-color: #fff;
    color: #342f2f;

    &:focus {
      border-color: #57b8f6 !important;
    }

    &:hover {
      border-color: #a5a5a5;
    }
  }

  &-button {
    width: 39px;
    height: 34px;
    display: block;
    float: right;
    position: relative;
    cursor: pointer;

    &::before,
    &::after {
      position: absolute;
      top: calc(50% - 1px);
      left: calc(50% - 7px);
      content: "";
      width: 14px;
      height: 2px;
      background-color: currentColor;
      display: block;
    }
  }

  &-remove {
    &::after {
      display: none;
    }
  }

  &-add {
    &::after {
      transform: rotate(90deg);
    }
  }
}

////////////////////////////
///
///
.custom-toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  animation: slideIn 0.3s ease;
  width: 300px; // Đặt chiều rộng tối đa để đảm bảo nội dung không bị nhảy ra

  p {
    margin: 0 0 12px; // Đặt margin cho văn bản
    font-size: 16px;
    font-weight: 500;
    color: #333;
  }

  .toast-buttons {
    display: flex;
    justify-content: space-between;

    .btn-go-cart,
    .btn-stay {
      background-color: #007bff;
      color: #fff;
      border: none;
      padding: 8px 12px;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #0056b3; // Màu nền khi hover
      }
    }

    .btn-stay {
      background-color: #6c757d; // Màu nền nút "Ở lại trang"

      &:hover {
        background-color: #5a6268; // Màu nền khi hover
      }
    }
  }
}

.toast-center {
  text-align: center;

  .button-group {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
  }
}
